{{- if .Values.crds.install }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloakinstances.keycloak.hostzero.com
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  labels:
    {{- include "keycloak-operator.labels" . | nindent 4 }}
spec:
  group: keycloak.hostzero.com
  names:
    kind: KeycloakInstance
    listKind: KeycloakInstanceList
    plural: keycloakinstances
    singular: keycloakinstance
  scope: Namespaced
  versions:
    - name: v1beta1
      served: true
      storage: true
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Ready
          type: boolean
          jsonPath: .status.ready
        - name: URL
          type: string
          jsonPath: .spec.baseUrl
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              required:
                - baseUrl
                - credentials
              properties:
                baseUrl:
                  type: string
                credentials:
                  type: object
                  required:
                    - secretRef
                  properties:
                    secretRef:
                      type: object
                      required:
                        - name
                      properties:
                        name:
                          type: string
                        namespace:
                          type: string
                        usernameKey:
                          type: string
                          default: username
                        passwordKey:
                          type: string
                          default: password
                realm:
                  type: string
            status:
              type: object
              properties:
                ready:
                  type: boolean
                status:
                  type: string
                message:
                  type: string
                version:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                      lastTransitionTime:
                        type: string
                        format: date-time
{{- end }}
